*{
    margin: 0;
    padding: 0;
}

header{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: grey;
}

button{   
    cursor: pointer; 
    padding: 5px;
    margin-left: 30px;
}

#delete-product-btn{
    background-color: red;
    color: white;
}

#save-product-btn{
    background-color: green;
    color: white;
}

a{  
    cursor: pointer;
    text-decoration: none;
}